body, html {
    height: 100%;
    margin: 0;
}

body {
    font-size: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(64,64,64);
}

#wrapper {
    background-image: url("../images/corn.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5%;
    padding: 3.125em 3.125em;
    line-height: 3em;
}

#name {
    font-weight: normal;
    letter-spacing: 0.2em;
    margin-top: 0;
}

#description {
    font-weight: normal;
    letter-spacing: 0.2em;
}

hr {
    width: 35%;
}

#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a:before {
    font-size: 2.5em;
}

a {
    text-decoration: none;
    transition: color 500ms;
    color: rgb(200,204,207);
    border: 2px solid;
    border-radius: 100%;
    margin: 2em 1em 0em 1em;
    padding: 1em;
    height: 2.5em;
    width: 2.5em;
}

a:hover {
    transition: color 500ms;
    color: rgb(255, 102, 102);
}

@media only screen and (min-width: 1680px) {
    body {
        font-size: 120%;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 100%
    }
}

@media only screen and (max-width: 980px) {
    body {
        font-size: 80%
    }
}

@media only screen and (max-width: 680px) {
    body {
        font-size: 60%
    }
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 40%;
    }
}
