body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../images/corn.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    padding: 30px 50px;
}

#name {
    line-height: 2.5;
}

#description {
    line-height: 2;
}

#divider {
    margin: auto;
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin: 8px;
}

a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 100%;
    padding: 15px;
    width: 65px;
    height: 65px;
}

a:hover {
    transition: 500ms;
    color: red;
    border-color: red;
}
